.corpo{
    background-color: rgb(49, 73, 65);
}
.titulo{
    background-color:rgb(89, 138, 122) ;
}
.while{
    background-color: rgb(94, 167, 142);
}
.img{
    width: 300px;
    right: 500px;
}
.if{
    background-color: rgb(68, 107, 89);
}
.Vetor{
    background-color: rgb(25, 90, 68);
}
.Matriz{
    background-color: rgb(18, 85, 18);
}